* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

p {
  text-align: left;
}

.timer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.value {
  border: 1px solid black;
  text-align: center;
  width: 65px;
  height: 75px;
  font-size: 50px;
}
